html {
  background: linear-gradient(90deg, black, #858585 9%, #858585 91%, black);
}
body {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  font-family: georgia;
  padding: 1em;
}
@media only screen and (max-width: 1365px) {
  body {width: 80%; margin-left: 10%;}
  html {background: linear-gradient(90deg, black, #858585 9%, #858585 91%, #black);}
}
@media only screen and (max-width: 1170px) {
  body {width: 85%; margin-left: 7.5%;}
  html {background: linear-gradient(90deg, black, #858585 7%, #858585 93%, #black);}
}
@media only screen and (max-width: 1100px) {
  body {width: 90%; margin-left: 5%;}
  html {background: linear-gradient(90deg, black, #858585 4.5%, #858585 95.5%, black);}
}
@media only screen and (max-width: 970px) {
  body {width: 95%; margin-left: 2.5%;}
  html {background: linear-gradient(90deg, black, #858585 2%, #858585 98%, black);}
}
@media only screen and (max-width: 825px) {
  body {width: 100%; margin-left: 0%;}
  .headlink {display: none;}
  .dropNavButton {display: inline-block;}
  .dropNav {display: block;}
  html {background: white;}
}
header {
  background-color: #858585;
}
